<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Anna Brunner</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
        
       <!--favicon-img--> 
       <link rel="icon" type="image/png" href="images/favicon.jpg">
       <!--favicon-img-->
    
        <link rel="stylesheet" href="css/index.css">
       
    
    </head>
<body>
    <main id="songs-one">


        
        <div class="cursor scale"></div>
        <div class="cursor-two scale"></div>


        <div id="preloader">
            <div class="p">
                <img src="images/headphone.png" alt="headphone">
            </div>
            <div class="p">Use Headphone For Better Experience.</div>
        </div>

<!-- CONTENT -->
        <div id="songs-one-content">



   <!-- NAVIGATION -->
   <div class="navigation">
    <div class="logo hover ">
       <a href="index-two.html" class="text">ANNA BRUNNER</a>
    </div>
    <div class="menu-bar hover ">
        <div class="menu-bar-name text">
            Menu
        </div>
        <div class="menu-bar-lines text">
            <div class="menu-bar-line"></div>
            <div class="menu-bar-line"></div>
        </div>
    </div>
</div>
<!-- NAVIGATION -->






<!-- HEADING -->
<div class="heading">
    <div class="text">
      SONGS
    </div>
</div>

<!-- HEADING -->




<!-- SONGS CONTAINER -->


<div class="center">
<div id="songs-container">



    <!-- SONG -->
<div class="song fade-up">

    <div class="song-img">
        
    </div>

    <div class="song-details">
        <div class="song-details-content">
        </div>
        <div class="music-player">
           <div class="download-song mouse">
                                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/7wz2Iowl5Q8OBEWiN0zJ3J?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</div>
    <!-- SONG -->




        <!-- SONG -->
<div class="song fade-up">
    <div class="song-img">
    </div>
    <div class="song-details">
        <div class="song-details-content">
        </div>
        <div class="music-player"> 
            <div class="play-song mouse">
            </div>
            <div class="download-song">
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/0MNyqykv90uAVnutKyvqZa?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</div>
    <!-- SONG -->


        <!-- SONG -->
<div class="song fade-up">


    <div class="song-img">
    </div>

    <div class="song-details">
        <div class="song-details-content">
        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
            </div>




            <div class="download-song">
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/3pEEgy9isYjOlWGeFNAx3g?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

            </div>
        </div>
    </div>
    
</div>
    <!-- SONG -->




        <!-- SONG -->
<div class="song fade-up">


    <div class="song-img">
    </div>

    <div class="song-details">
        <div class="song-details-content">
        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
            </div>




            <div class="download-song">
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/5hVBawFb0k6DuaVMfV1kZ0?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
        </div>
    </div>
    
</div>
    <!-- SONG -->




        <!-- SONG -->
<div class="song fade-up">


    <div class="song-img">
    </div>

    <div class="song-details">
        <div class="song-details-content">

        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
            </div>
            <div class="download-song">
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/75v0Ndhaq7hE9h8t1OcqYc?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>




        </div>
    </div>
    
</div>
    <!-- SONG -->




        <!-- SONG -->
<div class="song fade-up">


    <div class="song-img">
    </div>

    <div class="song-details">
        <div class="song-details-content">
        </div>
        <div class="music-player">
             <div class="play-song mouse">
            </div>



            <div class="download-song">
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/0LafiKTnu0NdKrpqSo0Mq5?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
        </div>
    </div>
    
</div>
    <!-- SONG -->




        <!-- SONG -->
<div class="song fade-up">


    <div class="song-img">
    </div>

    <div class="song-details">
        <div class="song-details-content">
        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
            </div>


            <div class="download-song">
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4XmejrQR5ZU1qTa8Mo1GSg?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
        </div>
    </div>
    
</div>
    <!-- SONG -->




        <!-- SONG -->
<div class="song fade-up">


    <div class="song-img">
    </div>

    <div class="song-details">
        <div class="song-details-content">
        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
                    </audio> 
            </div>


            <div class="download-song">
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/2RCoClNVfDYkWyx9Eyhr0o?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
        </div>
    </div>
    
</div>
    <!-- SONG -->




        <!-- SONG -->
<div class="song fade-up">
    <div class="song-img">
    </div>
    <div class="song-details">
        <div class="song-details-content">
        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
            </div>
            <div class="download-song">
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/3Qu4tRvLzaN13fFkuAMlPg?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
        </div>
    </div>
    
</div>
    <!-- SONG -->






</div>
</div>

<!-- SONGS CONTAINER -->



 <!-- HEADPHONE IMG -->
 <div class="headphone img text">
    <img src="images/headphone.png" title="headphone zone" class="text" alt="headphone">
  </div>
   <!-- HEADPHONE IMG -->
  
               
   
 <!-- MUSIC INDICATOR -->
 <div class="music-indicator">
    <span style="--i:1;" class="music-indicator-span"></span>
    <span style="--i:2;" class="music-indicator-span "></span>
    <span style="--i:3;" class="music-indicator-span "></span>
    <span style="--i:4;" class="music-indicator-span "></span>
  </div>
   <!-- MUSIC INDICATOR -->
  
               


<!-- progress-bar -->
<div class="progress-bar-container fade-in">
    <div class="progressbar"></div>
</div>
<!-- progress-bar -->






        </div>
<!-- CONTENT -->


      
    <!-- NAVIGATION CONTENT -->

    <div class="navigation-content">
        <div class="navigation-logo hover opacity">
            <a href="#" class="text">ANNA BRUNNER</a>
         </div>
        <ul class="navigation-ul">
            <li><a href="index-one.html" data-text="Home" data-img="images/bg-image-three.jpg">Home</a></li>
            <li><a href="about-one.html"  data-text="About"  data-img="images/about-img.jpg">About</a></li>
            <li><a href="songs-one.html" data-text="Songs"  data-img="images/album-thumbnail-nine.jpg">Songs</a></li>
            <li><a href="blog-one.html"  data-text="Blogs" data-img="images/main-bg-three.jpg">Blogs</a></li>
            <li><a href="contact-one.html"  data-text="Contact" data-img="images/album-thumbnail-four.jpg">Contact</a></li>
        </ul>
        <div class="navigation-close hover about-close opacity">
            <div class="navigation-close-line"></div>
            <div class="navigation-close-line"></div>
          </div>
    
            <div class="project-preview"></div>
    
            
     <!-- HEADPHONE IMG -->
     <div class="headphone-navigation opacity">
        <img src="images/headphone.png" title="headphone zone" class="text" alt="headphone">
      </div>
       <!-- HEADPHONE IMG -->
    
    
        <!-- SOCIAL MEDIA LINKS -->
        <div class="social-media-links-navigation">
            <ul>
                <li ><a href="#"  class="text hover opacity">YT</a></li>
                <li ><a href="#"  class="text hover opacity">FB</a></li>
                <li ><a href="#"  class="text hover opacity">IG</a></li>
            </ul>
        </div>
          <!-- SOCIAL MEDIA LINKS -->
    
    </div>
    
    <!-- NAVIGATION CONTENT -->
      






    </main>


    <script src="js/jquery.min.js"></script>
    <script src="js/bez.js"></script>
    <script src="js/pace.js"></script>
    <script src="js/index.js"></script>
</body>
</html>